.dropdownTeams > .lucknow{
    margin-top: 3.1%;
}
.lucknow > a{
    background-color: lightgreen;
    padding-left: 9.88%;
    padding-right: 9.88%;
    cursor: pointer;
}
.lucknowdropdown .owner>a,.lucknowdropdown .playing11>a,.lucknowdropdown .laststatus>a,.lucknowdropdown .titleWon>a{
    background-color: lightgreen;
}
.lucknowdropdown{
    display: block;
    position: absolute;
}
.lucknowdropdown a{
    float: left;
    width: 170px;
    text-align: center;
    margin-left: 245%;
    display: none;
}
.lucknowdropdown .owner{
    margin-left: 28.1%;
    margin-top: -22%;
}
.lucknowdropdown .playing11{
    margin-left: 28.1%;
    margin-top: 20%;
}
.lucknowdropdown .laststatus{
    margin-left: 28.1%;
    margin-top: 40%;
}
.lucknowdropdown .titleWon{
    margin-left: 28.1%;
    margin-top: 60%;
}
.lucknowTeamOwner{
    position: absolute;
    display: none;
}
.lucknowTeamOwner a{
    font-size: 20px;
    background-color: lightgreen;
    border: 2px solid gold;
    padding: 5px;
    margin-left: 278%;
}
.lucknowplaying11{
    position: absolute;
    display: none;
}
.lucknowplaying11 a{
    font-size: 20px;
    background-color: lightgreen;
    border: 2px solid gold;
    padding: 5px;
    width: 200px;
    margin-left: 239%;
}
.lucknowLastStatus{
    position: absolute;
    display :none;
}
.lucknowLastStatus a{
    font-size: 20px;
    background-color: lightgreen;
    border: 2px solid gold;
    padding: 5px;
    margin-left: 278%;
}
.lucknowTitleWon{
    position: absolute;
    display: none;
}
.lucknowTitleWon a{
    font-size: 20px;
    background-color: lightgreen;
    border: 2px solid gold;
    padding: 5px;
    width: 250px;
    margin-left: 193.2%;
}
.lucknow:hover > .lucknowdropdown a{
    cursor: pointer;
    display:block;
}
.owner:hover > .lucknowTeamOwner{
    cursor: pointer;
    display: block;
}
.playing11:hover > .lucknowplaying11{
    cursor: pointer;
    display: block;
}
.laststatus:hover > .lucknowLastStatus{
    cursor: pointer;
    display: block;
}
.titleWon:hover > .lucknowTitleWon{
    cursor: pointer;
    display: block;
}