/* Stylesheet for Addition */
body{
    background-image: linear-gradient(180deg,rgb(64, 187, 218),white);
    background-repeat: no-repeat;
    background-size: cover;
}
#result{
    text-align: center;
}
#background{
    height: 200px;
    width: 40%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
}
#number1{
    width: 10;
    font-size: 15px;
    margin-left: 180px;
    margin-bottom: 10px;
    display: block;
}
#number2{
    width: 10;
    font-size: 15px;
    margin-left: 180px;
    margin-bottom: 10px;
    display: block;
}
#switch{
    width: 150px;
    height: 25px;
    background-color: orangered;
    border: 1px solid black;
    text-align: center;
}