body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    scrollbar-width: none;
}
.icon{
    width: 25px;
    height: 25px;
    margin: 0px 20px 0px 20px;
}
.feedImage{
    height: 400px;
    width: 400px;
    margin: 50px;
    margin-top: 10px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.info span:last-child{
    margin-left: 250px;
}
.feedicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid black;
}
.headBar{
    margin-top: 0%;
    height: 8vh;
    width: 30vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.headBar img:first-child{
    margin-right: 100px;
}
.homeImages{
    height: 84vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
}
#navBar{
    margin-bottom: 0%;
    height: 7vh;
    width: 30vw;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.searchicon{
    height: 23px;
    width: 23px;
    padding: 5px;
    border: 1px solid black;
    border-left: none;
    text-align: center;
}
.searchinput>input{
    height: 31px;
    width: 250px;
    font-size: 18px;
    border:1px solid black;
    border-right: none;
    text-align: center;
}
.searchinput{
    margin-top: 0%;
    height: 8vh;
    width: 30vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.searchImages{
    height: 84vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
}
.searchImage{
    height: 200px;
    width: 200px;
    margin: 5px;
}
.display_none{
    display: none;
}
.profileBar{
    margin-top: 0%;
    height: 8vh;
    width: 30vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.profileBar span{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 100px;
}
.profileui{
    height: 84vh;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.profilepic img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border-radius: 50%;
    
}
.followers span{
    display: inline-block;
    margin: 10px;
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
}
button{
    background-color: rgb(6, 109, 226);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0px 60px 0px 60px;
    position: absolute;
    margin-top: 170px;
    margin-left: -250px;
    border-radius: 5px;
    border: 0px;
    
}
.follow{
    height: 30px;
    background-color: black;
}